<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-navitiasdk" version="0.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NavitiaSDKCordovaPlugin</name>
    <js-module name="NavitiaSDKCordovaPlugin" src="www/NavitiaSDKCordovaPlugin.js">
        <clobbers target="NavitiaSDK" />
    </js-module>

    <platform name="android">
	  <config-file target="config.xml" parent="/*">
	    <feature name="Echo">
	      <param name="android-package"
	            value="org.kisio.plugin.Echo"/>
	    </feature>
	    <feature name="NavitiaSDKBridge">
	      <param name="android-package"
	            value="org.kisio.plugin.NavitiaSDKBridge"/>
	    </feature>
	  </config-file>
	  <source-file src="src/android/org/kisio/plugin/Echo.java" target-dir="src/org/kisio/plugin" />
	  <source-file src="src/android/org/kisio/plugin/NavitiaSDKBridge.java" target-dir="src/org/kisio/plugin" />
      <lib-file src="libs/android/navitia-sdk-0.2.0-jar-with-dependencies.jar" />    
	</platform>
</plugin>
